.contact-content {
    text-align: center;
    margin-bottom: 8px;

    .contact-me {
        @include center;
        flex-direction: column;
        gap: 10px;
        max-width: 1200px;
        margin: 0 auto;

        p {
            color: $body-color;
            font-family: $body-font;
            font-size: 1.2rem;
            line-height: 25px;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                line-height: 23px;
            }
        }
    }
}