.library-container {
    padding: 0 50px;

    @media screen and (max-width: 1440px) {
        padding: 0;
    }

    .library-title {
        color: $title-color;
        font-family: $title-font;
        text-align: center;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
            margin-bottom: 25px;
        }
    }
    .library-content {
        background: $container-bg;
        border: 1px solid $border-color;
        border-radius: 20px;
        padding: 30px 20px;
        min-height: 300px;
        @include center;

        @media screen and (max-width: 768px) {
            min-height: 250px;
        }

        .books-container {
            flex-direction: column;

            .view-books {
                @include center;
                flex-wrap: wrap;
                gap: 35px 50px;

                @media screen and (max-width: 1440px) {
                    gap: 35px 40px;
                }

                .bookCard {
                    background: $body-bg;
                    height: 320px;
                    width: 150px;

                    .title {
                        font-size: 0.8rem;
                    }
                    .author {
                        font-size: 0.75rem;
                    }
                    .multiple-authors {
                        .author {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                    .btn-container {
                        width: 85%;
                        margin: 0 auto;
                        padding-bottom: 10px;
        
                        .delete-book {
                            background: transparent;
                            border: 1px solid $title-color;
                            border-radius: 2px;
                            color: $title-color;
                            font-weight: 700;
                            padding: 2px;
                            @include center;
                            cursor: pointer;
                            transition: 0.2s;
                            width: 100%;
            
                            &:hover {
                                background: $title-color;
                                border-color: $title-color;
                                color: $body-bg;
                            }
                        }
                    }
                }
            }
            .change-books {
                display: flex;
                gap: 50px;

                .carrousel-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: transparent;
                    border: 1px solid $btn-color;
                    cursor: pointer;
                    @include center;
                    transition: 0.2s;
    
                    &:hover {
                        border-color: $title-color;
    
                        i {
                            color: $title-color;
                        }
                    }
        
                    i {
                        color: $btn-color;
                        font-size: 1rem;
                    }
                }
            }
        }
        .empty-caroussel {
            @include center;
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h2 {
                color: $title-color;
                font-family: $title-font;

                @media screen and (max-width: 768px) {
                    font-size: 1.2rem;
                }
            }
            p {
                color: $title-color;
                font-family: $body-font;
                font-size: 1.2rem;

                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                    line-height: 20px;
                }
            }
        }
    }
}