.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 30px;

    @media screen and (max-width: 1024px) {
        padding: 20px;    
    }
    @media screen and (max-width: 768px) {
        padding: 10px;    
    }
}
.for-home {
    @media screen and (max-width: 425px) {
        height: 100%;  
    }
    @media screen and (min-width: 425px) and (max-width: 1024px) {
        height: 100%;  
    }
}
.for-research {
    gap: 30px;
}
.for-notFound {
    @include center;
}
.change-height {
    @media screen and (max-width: 768px) {
        height: 100%;
    }
}