@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --title-font: 'Roboto', sans-serif;
    --body-font: 'Lato', sans-serif;
    --quote-font: 'EB Garamond', serif;
    --title-color: #3E332E;
    --body-color: #71624B;
    --body-bg: #F6EEE7;
    --container-bg: #FCF9F6;
    --btn-color: #AD7F58;
    --border-color: #DCBC9F;
    --outline-color: #CEA37E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background: var(--body-bg);
}

.container {
    background: var(--container-bg);
    width: 90%;
    margin: 29px auto;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto auto;
    gap: 0 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.container .header {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
}
.container .footer {
    grid-column: 1;
    grid-row: 2;
}
.container .home-content {
    grid-column: 2;
    grid-row: 1 / span 2;
}
.container .research-content {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/********** HEADER **********/

.header .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
.header .avatar-container::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--border-color);
    border-radius: 10px;
    margin-top: 25px;
}
.header .avatar-container .avatar-img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-bottom: 25px;
}
.header .avatar-container .avatar-name h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
}
.header .avatar-container .avatar-img .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.header .nav-bar .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.header .nav-bar .nav-list .nav-li {
    padding: 5px 0;
}
.header .nav-bar .nav-list .nav-li a {
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 50px;
}
.header .nav-bar .nav-list .nav-li .nav-link {
    background: transparent;
}
.header .nav-bar .nav-list .nav-li .active-nav-link {
    background: var(--btn-color);
    color: var(--container-bg);
}

/********** FOOTER **********/

.footer::before {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--border-color);
    border-radius: 10px;
    display: block;
    margin-bottom: 25px;
}
.footer .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.footer .footer-list .footer-li i {
    font-size: 2rem;
    color: var(--btn-color);
    transition: 0.2s;
}
.footer .footer-list .footer-li i:hover {
    transform: scale(1.1);
}

/********** HOME CONTENT **********/

.home-content .home-banner {
    height: 250px;
    margin-bottom: 20px;
}
.home-content .home-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.home-content .home-section {
    text-align: center;
}
.home-content .home-section .title-quote {
    margin-bottom: 50px;
    padding: 0 30px;
}
.home-content .home-section .title-quote .title {
    color: var(--title-color);
    font-family: var(--quote-font);
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.home-content .home-section .title-quote .autor {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: 1.2rem;
    font-style: italic;
}
.home-content .home-section .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
}
.home-content .home-section .home-text .welcome {
    color: var(--title-color);
    font-family: var(--title-font);
}
.home-content .home-section .home-text .home-p {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: 1.2rem;
    line-height: 25px;
}

/********** RESEARCH CONTENT **********/

.research-content .find-book {
    margin-bottom: 100px;
    text-align: center;
}
.research-content .find-book .title-search {
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: 10px;
}
.research-content .find-book .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.research-content .find-book .search-bar .input {
    width: 30%;
    position: relative;
}
.research-content .find-book .search-bar .input input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--body-color);
    padding: 5px 10px;
    margin-right: 5px;
    width: 100%;
}
.research-content .find-book .search-bar .input input:focus {
    outline: 1px solid var(--outline-color);
}
.research-content .find-book .search-bar .input input::placeholder {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: 0.8rem;
    opacity: 0.8;
}
.research-content .find-book .search-bar .input i {
    color: var(--body-color);
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.research-content .find-book .search-bar .search-btn {
    background: var(--btn-color);
    border: none;
    padding: 5px;
    width: 27.5px;
    height: 27.5px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.research-content .find-book .search-bar .search-btn i {
    color: white;
}
.research-content .research-section .books-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 20px;
}
.research-content .research-section .books-container .book {
    max-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
}
.research-content .research-section .books-container .book:hover {
    transform: scale(1.05);
}
.research-content .research-section .books-container .book .book-cover {
    
}
.research-content .research-section .books-container .book .book-cover img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.research-content .research-section .books-container .book .title-author {
    padding: 10px;
}
.research-content .research-section .books-container .book .title-author .title {
    font-family: var(--title-font);
    font-size: 0.8rem;
    color: var(--title-color);
}
.research-content .research-section .books-container .book .title-author .author {
    font-family: var(--body-font);
    font-size: 0.8rem;
    color: var(--body-color);
}

/********** AU CLIC SUR UN LIVRE **********/

.research-content .research-section .bookFocus-container {
    background: var(--body-bg);
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.research-content .research-section .bookFocus-container .arrow-back {
    height: 30px;
    width: 30px;
    border: 1px solid var(--btn-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.research-content .research-section .bookFocus-container .arrow-back i {
    color: var(--btn-color);
}
.research-content .research-section .bookFocus-container .focus-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}  
.research-content .research-section .bookFocus-container .focus-content h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    margin-bottom: 10px;
}
.research-content .research-section .bookFocus-container .focus-content p {
    color: var(--body-color);
    font-family: var(--body-font);
}
.research-content .research-section .bookFocus-container .focus-content .content {
    line-height: 23px;
}
.research-content .research-section .bookFocus-container .focus-content .focus-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.research-content .research-section .bookFocus-container .focus-content .focus-infos .language {
    margin-bottom: 5px;
}
.research-content .research-section .bookFocus-container .focus-book {
    width: 55%;
}
.research-content .research-section .bookFocus-container .focus-book .book {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.research-content .research-section .bookFocus-container .focus-book .book .book-cover {
    width: 150px;
    border-radius: 5px;
    box-shadow: -20px 20px 15px 0 rgba(0, 0, 0, 0.2);
}
.research-content .research-section .bookFocus-container .focus-book .book .book-cover img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.research-content .research-section .bookFocus-container .focus-book .book .title-author {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.research-content .research-section .bookFocus-container .focus-book .book .title-author h2 {
    color: var(--title-color);
    font-family: var(--title-font);
}
.research-content .research-section .bookFocus-container .focus-book .book .title-author .author {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: 1.2rem;
}
.research-content .research-section .bookFocus-container .focus-book .title-author .add-book {
    background: var(--btn-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--body-font);
    font-weight: 900;
    letter-spacing: 1px;
    padding: 5px 0;
    cursor: pointer;
    width: 90px;
}

.research-content .research-section .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.research-content .research-section .pagination-container .pagination-btn {
    background: var(--btn-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--body-font);
    font-weight: 900;
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
}
.research-content .research-section .pagination-container .pagination-btn.active {
    background: var(--title-color);
}

/********** RESPONSIVE **********/

@media screen and (max-width: 1200px) {
    .home-content .home-section .title-quote {
        margin-bottom: 30px;
    }
    .home-content .home-section .title-quote .title {
        font-size: 1.5rem;
    }
    .home-content .home-section .home-text .welcome {
        font-size: 1.3rem;
    }
    .home-content .home-section .home-text .home-p {
        font-size: 1rem;
        line-height: 22px;
    }
}

@media screen and (max-width: 970px) {
    .home-content .home-banner {
        height: 200px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        grid-template-areas: "a"
        "c"
        "b";
        grid-template-columns: auto;
    }
    .container .header {
        position: relative;
        grid-area: a;
    }
    .container .header::after {
        content: "";
        height: 2px;
        width: 50%;
        background: var(--border-color);
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .container .header .avatar-container {
        display: none;
    }
    .container .header .nav-bar {
        margin-bottom: 30px;
    }
    .container .header .nav-bar .nav-list {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    .header .nav-bar .nav-list .nav-li a {
        border-radius: 5px;
    }
    .container .home-content {
        grid-area: c;
    }
    .container .research-content {
        grid-area: c;
    }
    .container .research-content .find-book {
        margin-bottom: 50px;
    }
    .research-content .research-section .books-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .container .footer {
        margin-top: 30px;
        grid-area: b;
    }
    .container .footer::before {
        width: 50%;
        margin: 0 auto 30px auto;
    }
    .container .footer .footer-list {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 30px 20px;
    }
    .header .nav-bar .nav-list .nav-li a {
        font-size: 1rem;
        padding: 5px 10px;
    }
    .home-content .home-section .home-text {
        padding: 0;
    }
    .research-content .find-book .search-bar .input {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 95%;
        padding: 20px;
    }
    .container .header {
        margin-bottom: 25px;
    }
    .container .header .nav-bar {
        margin-bottom: 25px;
    }
    .header .nav-bar .nav-list .nav-li a {
        font-size: 0.8rem;
    }
    .home-content .home-banner {
        height: 150px;
    }
    .home-content .home-section .title-quote {
        padding: 0 20px;
    }
    .home-content .home-section .title-quote .title {
        font-size: 1.2rem;
    }
    .home-content .home-section .title-quote .autor {
        font-size: 1rem;
    }
    .home-content .home-section .home-text .welcome {
        font-size: 1.2rem;
        line-height: 25px;
    }
    .home-content .home-section .home-text .home-p {
        font-size: 0.85rem;
    }
    .research-content .find-book .search-bar .input {
        width: 80%;
    }
    .container .footer {
        margin-top: 25px;
    }
    .container .footer::before {
        margin-bottom: 25px;
    }
    .footer .footer-list .footer-li i {
        font-size: 1.5rem;
    }
}
